@font-face {
  font-family: "Lora-Regular";
  src: url(../../public/fonts/Lora-Regular.ttf);
}
@font-face {
  font-family: "Lora-Italic";
  src: url(../../public/fonts/Lora-Italic.ttf);
}
@font-face {
  font-family: "Cinzel-Medium";
  src: url(../../public/fonts/Cinzel-Medium.ttf);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #EBEDE7;
  align-items: center;
    /* margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;  */
}   
    
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
}
header .logo {
  margin-left: 10rem;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.line span {
  border: 0.979267px solid #E7D4B6;
  width: 43%;
}

.navbar {
  flex-basis: 80%;
  padding: 0 5rem;
  margin-left: 5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.menu-item {
  font-family: "Lora-Regular";
  font-size: 1.7em;
}
.menu-link {
  color: #778690;
}

.info-button {
  background-color: #778690;
  border: none;
  border-radius: 120px;
  align-self: center;
  margin-top: 5rem;
  padding: 2rem 0;
}
.info-button a {
  padding: 2rem 5rem;
  color: #fff;
  font-family: "Cinzel-Medium";
  font-size: 1.5em;
  line-height: 22px;
}

.article-button {
  align-content: center;
  margin: 0 auto;
  background-color: #778690;
  border: none;
  width: fit-content;
  border-radius: 120px;
  align-self: center;
  margin-top: 2rem;
  padding: 2rem 0;
}
.article-button a {
  padding: 2rem 5rem;
  color: #fff;
  font-family: "Cinzel-Medium";
  font-size: 1.5em;
  text-align: center;
  line-height: auto;
}


.description, .astrologias-description {
  margin: 5rem 0;
  font-size: 1.9em;
  font-family: "Lora-Regular";
  font-weight: normal;
  color: #4A4A4A;
  line-height: 31px;
  letter-spacing: 0.01em;
  padding: 0 5rem;
}

video {
  display: flex;
  width: 100%;
  height: 100vh;
  object-fit: cover; }


.logo-ingresar {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
}

.titulo-ingresar, .boton-ingresar, .titulo-ingresar__dos {
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.9em;
  font-weight: lighter;
  font-family: "Lora-Italic";
}
.titulo-ingresar__dos {
  top: 65%;
}
.home-title{
  font-size: 2.6em;
  font-family: "Cinzel-Medium";
  font-style: normal;
  font-weight: 400;
  color: #778690;
  text-align: center;
  line-height: 49px;
  letter-spacing: 0.01em;
  margin-top: 4rem;
  width: 550px;
}


.boton-ingresar {
  top: 77%;
  left: 50%;
  border: none;
  border-radius: 120px;
  font-family: "Cinzel-Medium";
  font-size: 2em;
  padding: 1.5rem 1rem;
  background-color: #b1b9c6; }


.boton-ingresar a {
  color: white;
  padding: 0 6rem;
}


@media screen and (max-width: 480px) {
  .logo-ingresar {
    width: 80vw;
  }
  .titulo-ingresar, .titulo-ingresar__dos, .boton-ingresar {
    font-size: 1.7em;
    text-align: center;
  }
  .titulo-ingresar__dos {
    top: 74%;
  }
  .boton-ingresar a,  {
    padding: 8rem;
  }
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8rem;
  margin-top: 1rem;
}

.subtitle  {
  font-size: 2.2em;
  font-family: "Lora-Regular";
  font-weight: normal;
  color: #4A4A4A;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: center;
  width: 1000px;
  margin-top: 2.6rem;
}

.home-p {
  font-size: 1.7em;
  font-family: "Lora-Regular";
  font-weight: normal;
  color: #4A4A4A;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: center;
  width: 750px;
  margin: 3rem 0 0rem 0;
}

.informes-title, .diseno-impulso__title, .sesiones-title, .tzolkin-title, .d-humano__title, .astrologias-title, .guia-lunar__title, .guia-ayurveda__title {
  font-size: 2.8em;
  font-family: "Cinzel-Medium";
  font-style: normal;
  font-weight: 400;
  color: #778690;
  text-align: center;
  line-height: 49px;
  letter-spacing: 0.01em;
  margin-top: 3rem;
  width: 450px;
}


.guia-lunar, .guia-ayurveda {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.guia-lunar__content, .guia-ayurveda__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guia-lunar__title, .guia-ayurveda__title {
  width: 100%;
}
.guia-lunar__description, .informes-description, .diseno-impulso__description, .sesiones-description, .d-humano__description, .guia-ayurveda__description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0 5rem;
  font-size: 1.5em;
  color: #4A4A4A;
  font-family: "Lora-Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 1%;
}

.guia-ayurveda {
  margin-top: 5rem;
}

.menu-link__modifier {
  color: #000;
}

.astrologias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.astrologias-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;
}
.astrologias-title {
  width: 100%;
}
.astrologias-description {
  margin: 5rem 0 5rem 0;
  padding: 0;
}

.d-humano {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.d-humano__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;
}
.d-humano__title {
  width: 100%;
}
.tzolkin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
  margin-left: 4.5rem;
}
.tzolkin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tzolkin-title {
  margin-top: 5rem;
}

.sesiones-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sesiones-description {
  padding: 0 10rem;
}

.diseno-impulso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.diseno-impulso__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diseno-impulso__title {
  width: 100%;
}
.diseno-impulso__description {
  padding: 0 10rem;
}

.diseno-impulso__articles {
  display: flex;
  margin-top: 10rem;
  flex-wrap: wrap;
}
.diseno-impulso__articles .diseno, .diseno-impulso__articles .impulso {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 clamp(500px, 30%, 600px);
}
.diseno-impulso__articles .impulso {
  flex: 1 1 clamp(500px, 30%, 600px);
}

.informes {
  display: flex;
  align-items: center;
  margin-top: 15rem;
}
.informes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.informes-description {
  padding: 0 10rem;
}


.Comunidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.3rem;
  height: auto;
  text-align: center;
  background-color: #EBEDE7;
}

.carpa {
  width: 150px;
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  align-self: center
}
.carpita {
  width: 150px;
  margin-top: 1.5rem;;
  margin-bottom: 1rem; 
  align-self: center;
}

.mapa {
  width: 150px;
  margin-top: 1.5rem;;
  margin-bottom: 1rem; 
  align-self: center;
}

.cofre {
  width: 150px;
  margin-top: 6.5vh;;
  margin-bottom: 0vh; 
  align-self: center;
}

.heart {
  width: 150px;
  margin-top: 6.5vh;;
  margin-bottom: 1vh; 
  align-self: center;
}
.stars {
  width: 150px;
  margin-top: 1vh;;
  margin-bottom: 0vh; 
  align-self: center;
}
.bottle {
  width: 350px;
  margin-top: 0.7vh;; 
  align-self: center;
}
.gracias-title {
  text-align: center;
  font-size: 2.4em;
  font-family: "Cinzel-Medium";
  font-weight: 400; 
  color: #778690;
  text-align: center;
  margin-top: 1.5rem; 
  width: 100%; 
  max-width: 450px; 
}
.gracias-p {
  font-size: 20px;
  font-family: "Lora-Regular";
  font-weight: 400;
  color: #4A4A4A;
  margin-top: 1rem; 
  width: 100%; 
  max-width: 450px; 
  text-align: center;
}
.bienvenida-title {
  text-align: center;
  font-size: 1.7em;
  font-family: "Lora-Italic";
  font-weight: 400; 
  color: #778690;
  text-align: center;
  margin-top: 4rem; 
  width: 100%; 
  max-width: 480px;
  line-height: normal;
}
.bienvenida-p {
  font-size: 1.4em;
  font-family: "Lora-Regular";
  font-weight: 400;
  color: #778690;
  margin-top: 1rem; 
  width: 100%; 
  max-width: 450px; 
  text-align: center;
}
.welcome-logo {
  width: 25vh;
  margin-top: 0.7vh;; 
  align-self: center;
}
.welcome-heart {
  width: 135px;
  margin-top: 1.3rem;
  margin-bottom: 1vh; 
  align-self: center;
}
.felicitaciones-title {
  text-align: center;
  font-size: 2.4em;
  font-family: "Cinzel-Medium";
  font-weight: 400; 
  color: #778690;
  text-align: center;
  margin-top: 8vh; 
  width: 100%; 
  max-width: 450px; 
}

.felicitaciones-p {
  font-size: 17px;
  font-family: "Lora-Regular";
  font-weight: 400;
  color: #4A4A4A;
  margin-top: 1rem; 
  width: 100%; 
  max-width: 450px; 
  text-align: center;
}

.comunidad-title {
  font-size: 2.4em;
  font-family: "Cinzel-Medium";
  font-weight: 400; 
  color: #778690;
  text-align: center;
  margin-top: 1.5rem; 
  width: 100%; 
  max-width: 450px; 
}
.comunidad-p {
  font-size: 15px;
  font-family: "Lora-Regular";
  font-weight: 400;
  color: #4A4A4A;
  margin-top: 1rem; 
  width: 100%; 
  max-width: 450px; 
}

.suscripción-container {
  font-size: 1.2em;
  font-family: "Cinzel-Medium";
  color: #8F8E8E;
}
  .form-title {
    font-size: 20px;
    font-family: "Lora";
    font-weight: normal;
    color: #606e77;
    line-height: px;
    text-align: center;
    width: 100%;
    margin-top: 1.3rem;
    margin-bottom: 4.6rem;
  }

  .consulta-container {
    font-size: 1.2em;
    font-family: "Cinzel-Medium";
    color: #8F8E8E;
  }
  .consulta-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
  }  

  .consulta-title {
      font-size: 18px;
      font-family: "Lora-Italic";
      font-weight: normal;
      color: #606e77;
      line-height: px;
      text-align: center;
      width: 365px;
      margin-top: 0.7vh;
      margin-bottom: 3.4vh;
    }

label {
  font-size: 1.4em;
  font-family: "Cinzel-Medium";
  color: #8F8E8E;
  letter-spacing: 0.3cap; 
}
/* Estilos para el input */
input {
  text-align: center;
  background-color: #DDDFD8;
  font-family: "Lora-Italic";
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #DDDFD8; 
  border-radius: 5px; /* Radio de borde para hacerlo redondeado */
  padding: 10px; /* Espaciado interno del input */
  width: 365px;
  outline: #b1b9c6;
}

textarea {
  height: 186px;
  background-color: #DDDFD8;
  font-family: "Lora-Italic";
  font-size: 16px; 
  border: 1px solid #DDDFD8; 
  border-radius: 5px; 
  width: 365px;
  outline: #b1b9c6;
  resize: none;
  padding: 10px;
}

textarea ::placeholder {
  font-family: "Lora-Italic";
  font-size:16px; 
  color: #8F8E8E; 
  text-align: center;
  padding: 10px
  
}
 ::placeholder {
  font-family: "Lora-Italic";
  font-size:16px; 
  color: #8F8E8E; 
  text-align: center;
  padding: 10px;
}





/* FOOTER */
/* Establece la disposición y margen en el footer-container */
.footer-container {
  background-color: #606e77; /* Cambia el color de fondo según tus preferencias */
  text-align: center;
  padding: 2% 0; 
}

/* Establece la disposición y margen en el social-icon */
/* Social Icon List */
.social-icon {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white; /* Color de texto blanco */
  margin-left: 2vw;
  margin-right: 2vw; 
  margin-bottom: 3vh; /* Margen inferior (15% del alto del viewport) */
}

/* Establece el tamaño de los íconos de las redes sociales */
.social-icon li {
  align-items: center;
  display: inline;
  width: 100px; /* Tamaño de 100px para los íconos */
  color: white;
  font-size: 1.5em;
  width: 2%;
  margin-left: 2vw;
  margin-right: 2vw; 
}

.social-icon li a{
  align-items: center;
  display: inline;
  width: 100px; /* Tamaño de 100px para los íconos */
  color: white;
  font-size: 1.5em;
  margin-left: 2vw;
  margin-right: 2vw; 
}


/* Establece el margen superior e inferior para el párrafo */
.footer-container p {
  margin-top: 3vh; /* Margen superior (3% del alto del viewport) */
  margin-bottom: 3vh; /* Margen inferior (3% del alto del viewport) */
  font-family: 'Lora-Regular';
  color: white;
  font-size: 1.1em;
}

.footertopmargin {
  height: 20vh;
  }

