<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinita Serendipia - Diseño Humano</title>
    <link rel="stylesheet" href="../../scss/css/style.css">
</head>

<body>
    <header>
        <picture class="logo">
            <a href="./home.html">
                <img class="logo-img" src="../img/brand/logo.png" alt="Logo Infinita Serendipia"
                    title="Infinita Serendipia">
            </a>
            </div>
        </picture>
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-link" href="./self-care.html">Self-Care</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./astrologias.html">Astrologías</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./d-humano.html">Diseño Humano</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./tzolkin.html">Tzolkin</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./sesiones.html">Sesiones</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./comunidad.html">Comunidad</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="line">
        <span></span>
        <img src="../img/soga-header.svg" alt="">
        <span></span>
    </div>

    <section class="container">
        <div class="d-humano">
            <picture>
                <img src="../img/d-humano/human.svg" alt="">
            </picture>
            <div class="d-humano__content">
                <h2 class="d-humano__title">GUÍA SIMPLE DE DISEÑO HUMANO PARA ALINEAR CADA TIPO, PERFIL Y AUTORIDAD.</h2>
                <p class="description">En esta guía explicamos cada uno de los tipos, perfiles y autoridades. Sus necesidades, tendencias naturales y desafíos, con tips para alinear cada elemento básico del diseño en el ser.</p>
                <button class="article-button"><a href="">DESCARGAR LA GUÍA</a></button>
            </div>
        </div>
    </section>
</body>

</html>