<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinita Serendipia - Sesiones</title>
    <link rel="stylesheet" href="../../scss/css/style.css">
</head>

<body>
    <header>
        <picture class="logo">
            <a href="./home.html">
                <img class="logo-img" src="../img/brand/logo.png" alt="Logo Infinita Serendipia"
                    title="Infinita Serendipia">
            </a>
            </div>
        </picture>
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-link" href="./self-care.html">Self-Care</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./astrologias.html">Astrologías</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./d-humano.html">Diseño Humano</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./tzolkin.html">Tzolkin</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./sesiones.html">Sesiones</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./comunidad.html">Comunidad</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="line">
        <span></span>
        <img src="../img/soga-header.svg" alt="">
        <span></span>
    </div>

    <section class="container">
        <div class="sesiones">
            
            <div class="sesiones-content">
                <h1 class="sesiones-title">COACHING MULTIASTROLÓGICO</h1>
                <p class="description">Sesiones de coaching astrológico en las que utilizando la información brindada por distintas lecturas del cielo en el momento de tu nacimiento, literalmente nos dejamos guiar por la información de las estrellas para encontrar respuestas y soluciones a cualquier tema que quieras abordar.
                    Entre las astrologías que utilizamos se encuentran la astrología occidental trópica, astrología dracónica, astrología maya, astrología china, védica y numerologías.
                    Estas sesiones se utilizan para consultar, visionar y organizar el camino hacia lo que sea que estés deseando. Algunas temáticas populares a tratar suelen ser: relaciones, logro de objetivos personales, gestión emocional, autoexpresion, confianza y creatividad.
                    Tenemos una reunión para conocernos y plantear lo que se desea tratar, y luego armamos un plan para abordar el tema. Planteamos y acordamos un número de reuniones, y comenzamos el plan. Pueden ser 3 o 5 reuniones dependiendo la temática.
                </p>
                <div class="article-button"><a href="quiero">QUIERO MIS SESIONES</a></div>
            </div>
        </div>

        <div class="diseno-impulso">
            <div class="diseno-impulso__content">
                <h2 class="diseno-impulso__title">DISEÑO E IMPULSO DEL PROPOSITO PERSONAL
                    AGREGAR DISEÑO HUMANO COMO HERRAMIENTA.</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
                </p>
                <button class="article-button"><a href="quiero">LISTA DE ESPERA</a></button>
            </div>

            <div class="diseno-impulso__articles">
            <div class="diseno">
                <picture>
                    <img src="../img/self-care/guia-lunar.png" alt="">
                </picture>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
                </p>
                <button class="article-button"><a href="quiero">DISEÑO</a></button>
            </div>

            <div class="impulso">
                <picture>
                    <img src="../img/self-care/guia-lunar.png" alt="">
                </picture>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
                </p>
                <button class="article-button"><a href="quiero">IMPULSO</a></button>
            </div>
        </div>

        <div class="informes">
            <div class="informes-content">
                <h3 class="informes-title">INFORMES</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
                </p>
                <button class="article-button"><a href="quiero">QUIERO MI INFORME</a></button>
            </div>
            <picture class="informes-img">
                <img src="../img/sesiones/diseno-humano-prueba.png" alt="">
            </picture>
        </div>

    </section>
</body>

</html>