<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinita Serendipia - Suscripción</title>
    <link rel="stylesheet" href="../../scss/css/style.css">
</head>

<body>
    <header>
        <picture class="logo">
            <a href="./home.html">
                <img class="logo-img" src="../img/brand/logo.png" alt="Logo Infinita Serendipia"
                    title="Infinita Serendipia">
            </a>
            </div>
        </picture>
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-link" href="./self-care.html">Self-Care</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./astrologias.html">Astrologías</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./d-humano.html">Diseño Humano</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./tzolkin.html">Tzolkin</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./sesiones.html">Sesiones</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="./comunidad.html">Comunidad</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="line">
        <span></span>
        <img src="../img/soga-header.svg" alt="">
        <span></span>
    </div>

    <main class="Suscripción">
        <element class="carpita">
            <img src="../img/comunidad/carpa azul.png" alt="carpa">
        <div class="title-container">
        <h1 class="suscripción-title">¡Aquí entras!</h1>
    <FORM>
        <div class="title-container">
            <h1 class="nombre-title">TU NOMBRE</h1>
            <input type="text"> 
        </div>
        <div class="title-container">
            <h2 class="mail-title">EMAIL</h2>
            <input type="email"> 
        </div>
    </FORM>
    <button class="suscripción"><a href="./suscripción.html">SER PARTE</a></button>
    </div>


</body>
</html>