//fonts
@font-face {
    font-family: "Lora-Regular";
    src: url(../../public/fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: 'Lora-Italic';
    src: url(../../public/fonts/Lora-Italic.ttf);
}

@font-face {
    font-family: 'Cinzel-Medium';
    src: url(../../public/fonts/Cinzel-Medium.ttf);
}