/* normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* globals */
html {
    font-size: 62.5%;
}

body {
    background-color: map-get($colors, bg-color);

}

// body {
//     font-family: $font-secondary;
// }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
