// variables

$font-principal: 'Lora-Regular';
$font-primary: 'Lora-Italic';
$font-secondary: 'Cinzel-Medium';

// map
$colors: (
    text-color-primary: #4A4A4A,
    text-color-secondary: #ebede6,
    bg-color: #EBEDE7,
    bg-color-primary: #b1b9c6,
    bg-color-secondary: #606e77,
    bg-color-alternative: #e4cdbb,
    font-color-primary: #778690
);


