.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    video {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .content {
        text-align: center;
        position: relative;

        .logo-ingresar {
            width: 425px;
            @media screen and (max-width: 480px) {
                width: 80vw;
            }
        }

        .titulo-ingresar {
            color: #fff;
            font-size: 2.5em;
            font-family: $font-primary;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);

            &__dos {
                @extend .titulo-ingresar;
                top: 70%;
            }

            @media screen and (max-width: 480px) {
                font-size: 1.7em;
                text-align: center;

                &__dos {
                    top: 74%;
                }
            }
        }

        .boton-ingresar {
            @extend .titulo-ingresar;
            top: 85%;
            left: 50%;
            border: none;
            border-radius: 120px;
            font-family: $font-secondary;
            font-size: 2em;
            padding: 1.5rem 0;
            background-color: map-get($colors, bg-color-primary);

            a {
                color: #ffff;
                padding: 0 15rem;
            }

            @media screen and (max-width: 480px) {
                padding: 8rem;
            }
        }
    }
}
