.carpita {
  width: 150px;
  margin-top: 1.5rem;;
  margin-bottom: 1rem; 
  align-self: center;
}
// .title-container {
// display: flex;
// }

// .suscripción-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     text-align: center;
//   }


  
//   .form-title {
//     font-size: 2.4em;
//     font-family: "Cinzel-Medium";
//     color: #778690;
//     margin: 20px 0;
//     align-items: center;
//   }
  
//   form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
  
//   label {
//     font-size: 2em;
//     font-family: "Cinzel-Medium";
//     color: #8F8E8E;
//   }
  
//   input {
//     width: 100%;
//     max-width: 250px;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     margin: 5px 0;
//   }
  
//   .article-button a {
//     display: inline-block;
//     background-color: #778690;
//     color: white;
//     text-decoration: none;
//     padding: 10px 20px;
//     border-radius: 5px;
//     margin: 20px 0;
//     font-size: 18px;
//     transition: background-color 0.3s;
//   }
  
//   .article-button a:hover {
//     background-color: #778690;
//   }
  

// // .carpa{
// //     max-width: 100%;
// //     height: auto;

// // }


// // .form-title{
// //     font-size: 2.2em;
// //     font-family: $font-primary;
// //     font-weight: normal;
// //     color: map-get($colors, text-color-primary);
// //     line-height: 31px;
// //     letter-spacing: 0.01em;
// //     // padding: 5rem 50rem;
// //     text-align: center;
// //     width: 1000px;
// //     margin-top: 2.6rem;
// // }
